/* navbar */
.navbar {
    background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	top: 0;
	height: 4rem;

}

.dropdown:hover>.dropdown-menu {
  display: block;
} 

.navbar-nav {
	padding-left: 0.2rem;
}


.nav-item {
	padding-right: 1.5rem;
	padding-left: 0.2rem;
	font-size: 0.85rem;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
}

#NavDropdown {
	color: #ffff;
}

.dropdown-item {
	font-size: 0.7rem;
	background-color: #FCFBF9;
	padding-left: 0.1rem;
}

/*navbar hover*/



/*tudo*/
.tudo {
	font-family: 'Montserrat', sans-serif;
	background-color: #FCFBF9;
}

/*conteudos*/
.conteudos {
	background-color: #FCFBF9;
}


/*os queridinhos (destaque)*/
.destaque {
	height: 35rem;
	width: 100%;
}


#queridinhos {
	font-family: 'Allura', cursive;
	font-size: 6rem;
}

#texto-destaques {
	margin-bottom: 2rem;

}
	/*parte produtos*/

.produtoimagem {
	margin-bottom: 0.5rem;
}

.destaquerow {
	margin-top: 8rem;
	margin-bottom: 0.43rem;
}

.destaquerow2 {
	margin-top: 0;
	margin-bottom: 0;
}


.middle {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dproduto {
  position: relative;
  text-align: center;
  color: white;
}

.titlecha {
	color: #0f0f0f;
	font-size: 1.1rem;
  font-weight: 500;
	margin-bottom: 0.2rem;
}

.preco {
	color: #4a4a4a;
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	margin-bottom: 1rem;
}


#destaquetext {
	margin-bottom: 2rem;
}

/* botoes especiais */
.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/**** BTN No. 11 rosa****/
.btn-11r {
  background: #ffcad4;
  border: 2px solid #000;
  transition: all 0.3s ease;
}
.btn-11r:before,
.btn-11r:after {
  position: absolute;
  content: " ";
  z-index: -1;
  width: 25%;
  top: 50%;
  height: 2px;
  background: #000;
  transition: all 0.3s ease;
}
.btn-11r:before {
  left: -10%;
}
.btn-11r:after {
  right: -10%;
}
.btn-11r:hover {
  background: #000;
  color: #fff;
}
.btn-11r:hover:before {
  left: 0%;
}
.btn-11r:hover:after {
  right: 0%;
}

/* hover a, pon=branco, pen=preto, pin é do footer */

.pon {
	color: #fff;
	text-decoration: none;
}

.pon:hover {
	color: #fff;
	text-decoration: none;
}

.pen {
	color: #000;
	text-decoration: none;
}

.pen:hover {
	color: #fff;
	text-decoration: none;
}

.pin {
	color: #7f7f7f ;
}
.pin:hover {
	text-decoration: none;
	color: 	#0f0f0f;
}
/* footer */
/*form*/

.formnewsletter {
	width: 20rem;
}

input[type=text], input[type=submit] {

  padding: 0.5rem;
  margin: 0.2rem; 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text]{
  width: 100%;
}

input[type=submit]{
  width: 50%;
}


input[type=submit] {
  background-color: #000;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
}

input[type=submit]:hover {
  opacity: 0.8;
}
#newsletter {
	font-size: 1.1rem;
}

#newsletterinfo {
	font-size: 0.8rem;
	margin-bottom: 0.3rem;
}


/* footer geral*/
#footer1, #footer2{
	list-style: none;
	margin-right: 2rem;
}

#footer2 {

}

.titlefooter {
	font-size: 1.1rem;
}

.topicfooter {
	font-size: 0.8rem;
	color: #7f7f7f;
}

.topicfooter:hover {
	color: 	#0f0f0f;	
}
/*redes sociais*/
.rsi {
	color: #7f7f7f;
	margin-right: 0.3rem;
}

.rsi:hover {
	color: 	#0f0f0f;
	margin-right: 0.3rem;
} 


/* margin bottom page */
	.mgbottom {
		height: 5rem;
	}
/* pular */

#subtitle {
	font-size: 1rem !important;
	font-weight: 500;
}